client
#foreach ($remote in $remotes)
<connection>  
remote $remote
#if ($remote.proxy)
http-proxy ${remote.proxy}
#if ($remote.proxy.retry)http-proxy-retry
#end
#if ($remote.proxy.timeout > 0)http-proxy-timeout ${remote.proxy.timeout}
#end
#end
</connection>
#end
dev ${dev}
topology subnet
#if ( ${fragment} )fragment 0
#end
mssfix ${mssfix}
sndbuf ${sndbuf}
rcvbuf ${rcvbuf}
cipher ${cipher}
auth ${auth}
#if ( ${auth-user-pass} )auth-user-pass
#end

resolv-retry ${resolv-retry}
#if (${nobind})nobind
#end
#if (${persist-key})persist-key
#end
#if (${persist-tun})persist-tun
#end
#if (${ns-cert-type})ns-cert-type ${ns-cert-type}
#end
#if (${setenv})setenv ${setenv}
#end
verb ${verb}
#if (${ca})
<ca>
${ca}
</ca>
#end
#if (${cert})
<cert>
${cert}
</cert>
#end
#if (${key})
<key>
${key}
</key>
#end
#if (${tls-auth})
key-direction 1
<tls-auth>
${tls-auth}
</tls-auth>
#end