Dear $user.displayName!

we have just created a new user account for you. you can now go to:

	${baseUrl}#/auth/login?mode=reset&sourceId=${user.sourceId}
	
to reset your password.

regards,

your ldap server
----------------
${footer}