ui.cacheJs: false
database:
    hsql:
        datadir: "db/hsql"
    derby:
        datadir: "db/derby"
openid:
  connect:
    server:
      issuer: http://127.0.0.1:9099/
      topbarTitle: OpenID Connect Server
      logoImageUrl: resources/images/openid_connect_small.png
    crypto:
      keystore:
        path: classpath:keystore.jwks
      signing:
        defaultSignerKeyId: rsa1
        defaultSigningAlgorithmName: RS256
      encrypt:
        defaultAlgorithm: RSA1_5
        defaultDecryptionKeyId: rsa1
        defaultEncryptionKeyId: rsa1