<div ng-controller="MyAppsController">
	<div ng-if="apps">
		<div class="form-group">
			<input ng-model="search.term" class="form-control" ng-change="updateApps()" placeholder="type to filter">
		</div>
		<div ng-if="!apps || apps.length == 0">
			<i>No matching applications configured for you!</i>
		</div>
		<table class="table table-striped table-compact">
			
			<tr ng-repeat="app in apps">
				<td width="3.5em" valign="center">
					<a target="{{app.id}}" href="{{app.url}}"><img
						src="/autonubil/api/apps/apps/{{app.id}}/icon"
						style="max-height: 3.2em; min-height: 3.2em" /></a>
				</td>
				<td>
					<label><a target="{{app.id}}" href="{{app.url}}">{{app.name}}</a></label><br />
					{{app.description}}
				</td>
			</tr>
		</table>
	</div>
</div>
