<div class="row">
	<div class="col-md-12 page-header">
		<h2>
			<a href="#/main/admin/sources">OpenVPN Source</a> | {{source.name}} <span
				ng-if="changed">*</span>
		</h2>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<div class="row">
			<div class="col-md-12">
				<h4>OpenVPN Source</h4>
			</div>
			<div class="col-md-6">
				<div class="form form-group">
					<label>Name</label> <input ng-model="source.name"
						ng-change="startChange()" class="form-control" />
				</div>
			</div>
			<div class="col-md-6">
				<div class="form form-group">
					<label>Description</label> <input ng-model="source.description"
						ng-change="startChange()" class="form-control" />
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h4>Client Configuration Provider</h4>
				</div>
				<div class="col-md-12"
					ng-if="!clientConfigProviders || clientConfigProviders.length==0">
					<div class="alert alert-warning">
						<i>No Client Config Providers found</i>
					</div>
				</div>
				<div class="col-md-12"
					ng-if="clientConfigProviders && clientConfigProviders.length > 0">
					<select class="form-control"
					    ng-change="startChange()" data-ng-model="source.clientConfigurationProvider">
					    <option ng-repeat="clientConfigProvider in clientConfigProviders" value="{{clientConfigProvider.id}}">{{clientConfigProvider.displayName}}</option>
					</select>
				</div>
				<div class="col-md-12">
					<div class="form form-group">
						<label>Client Configuration (JSON)</label>
						<textarea ng-model="source.clientConfiguration"
							ng-change="startChange()" class="form-control"
							style="width: 100%; height: 300px;"></textarea>

					</div>
				</div>
			</div>
			<div class="row">

				<div class="col-md-´12">
					<h4>Server Configuration Provider</h4>
				</div>
				<div class="col-md-12"
					ng-if="!serverConfigProviders || serverConfigProviders.length==0">
					<div class="alert alert-warning">
						<i>No Server Config Providers found</i>
					</div>
				</div>
				<div class="col-md-12"
					ng-if="serverConfigProviders && serverConfigProviders.length > 0">
					
					<select class="form-control"
					    ng-change="startChange()" data-ng-model="source.serverConfigurationProvider">
					    <option ng-repeat="serverConfigProvider in serverConfigProviders" value="{{serverConfigProvider.id}}">{{serverConfigProvider.displayName}}</option>
					</select>
				</div>
				<div class="col-md-12">
					<div class="form form-group">
						<label>Server Configuration (JSON)</label>
						<textarea ng-model="source.serverConfiguration"
							ng-change="startChange()" class="form-control"
							style="width: 100%; height: 300px;"></textarea>

					</div>
				</div>

			</div>

		</div>
		<div class="row">
			<div class="col-md-12"></div>
		</div>
		<div class="row"></div>
	</div>
	<div class="col-md-6">
		<div class="row">
			<div class="col-md-12">
				<h4>Access</h4>
			</div>
			<div class="col-md-12" ng-if="!permissions || permissions.length==0">
				<div class="alert alert-warning">
					<i>No groups configured here</i>
				</div>
			</div>
			<div class="col-md-12">
				<table class="table table-striped table-compact">
					<tr ng-repeat="permission in permissions">
						<td>{{permission.name}}</td>
						<td width="20">
							<button
								ng-click="removePermission(permission.sourceId,permission.groupId)"
								class="btn btn-danger form-control">
								<i class="glyphicon glyphicon-minus"> </i>
							</button>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<select class="form-control" ng-model="newPermission.source"
					ng-change="updateGroups()"
					ng-options="config as config.name for config in configs">
				</select>
			</div>
			<div class="col-md-6">
				<select class="form-control" ng-model="newPermission.group"
					ng-options="group as group.displayName for group in groups"
					ng-disable="!groups">
				</select>
			</div>
			<div class="col-md-2">
				<button ng-click="addPermission()"
					class="btn btn-primary form-control"
					ng-disabled="newPermission.group.id.length == 0">
					<i class="glyphicon glyphicon-plus"> </i>
				</button>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12"></div>
		</div>
		<div class="row"></div>

	</div>
</div>